/* auth.css */

.auth-page {
  height: 100vh;
  width: 100wv;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
  background-color: rgba(0, 0, 0, 0.9)
}

.auth-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 500px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 1); 
}
.form-image {
  height: 500px;
  width: 700px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 1); 
}