/* Style for the CreateSprout component */
h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    height: 80%;
  }
  
  /* Adjust the styling of the TextEditor component */
  div.ReactQuill {
    width: 100%;
    min-height: 300px; /* Set a minimum height for the editor */
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  /* Style for the Save Draft and Post buttons */
  div button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  div button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styling as needed */
  