.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background: transparent;
  }
  .trash-icon {
    transition: color 0.3s ease; /* Add a smooth transition for color changes */
  }
  
  .trash-icon:hover {
    color: red; /* Change the color to red when hovered */
  }