
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black; 
    color: white;
    width: 400px;
  }
  .profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  .avatar{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
  }  
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
  }
  .sidebar-links {
    width: 80%;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  .nav.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  }
  
  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .nav-link {
    color: black; 
    transition: color 0.3s, font-size 0.3s;
  }
  .nav-link:hover {
    color: white; /* Text color on hover */
    transform: scale(1.1); /* Stretch effect on hover */
  }
  .custom-nav-item:hover {
    border-radius: 5px; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    background-color: rgba(0, 0, 0, 0.1);
  }