
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }

  .left-panel {
    background-color: black; 
    color: white;
    width: 400px;
  }
  
  .sidebar-sticky {
    position: relative;
  }
  
  .nav.flex-column {
    list-style: none;
    padding-left: 0;
  }
  
  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .nav-link {
    color: black; 
    transition: color 0.3s, font-size 0.3s;
  }
  .nav-link:hover {
    color: white; /* Text color on hover */
    transform: scale(1.1); /* Stretch effect on hover */
  }
  .custom-nav-item:hover {
    border-radius: 5px; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    background-color: rgba(0, 0, 0, 0.1);
  }