/* Login.css */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.card-body {
  width: 70%;
  height: 95%;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 1);
}
.login-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
