.logout-btn {
  width: 100px;
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: #007bff; /* Contrasting blue color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
