
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: #3498db;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }

  .page-body {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
    