/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  /* Aside Panel Styles */
  .sidebar {
    background-color: #d6eaf8; /* Light blue */
color: #333; /* Dark text color */

    
    width: 100%; /* Full width on larger screens */
    max-width: 200px; /* Maximum width */
    padding: 15px;
  }
  
  .sidebar-sticky {
    position: relative;
  }
  
  .nav.flex-column {
    list-style: none;
    padding-left: 0;
  }
  
  .nav-item {
    margin-bottom: 10px; /* Adjust spacing between items */
  }
  
  .nav-link {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007bff; /* Blue color on hover */
  }
  