
.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
  }
  
.save-icon:hover {
    color: #555; /* Set your hover icon color */
  }
