.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 10px;
}

.search-bar {
    display: flex;
    
}